.aside-title_item-product::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/product.svg");
    background-repeat: no-repeat;
    padding-left: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.aside-title_item-product{
    @media screen and (min-width:480px){
       &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url("../images/chevron-right.svg");
        background-repeat: no-repeat;
        margin-left: 25px;
        
    }
        }
    @media screen and (min-width:768px){
       &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url("../images/chevron-right.svg");
        background-repeat: no-repeat;
        margin-left: 123px;
    }
    }
      @media screen and (min-width:1440px){
    &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url("../images/chevron-right.svg");
        background-repeat: no-repeat;
        margin-left: 123px;
    }
    }
}