.aside-list-container {
    padding-top: 64px;
}

.aside-list {
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(145, 151, 179, 1);
@media screen and (min-width:480px){
    font-size: 12px;
    font-weight: 250;
    line-height: 15px;
    
}
@media screen and (min-width:768px){
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    }
  @media screen and (min-width:1440px){
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}
}