.main-content_search {
    position: relative;
    padding-right: 10px;
    padding-top: 14px;
}

.main-content_input{
    border: none;
    background-color:  rgba(249, 251, 255, 1);
   
    @media screen and (min-width:480px){
    width: 100px;
    height: 22px;
    padding-left: 25px;
    border-radius: 7px;
    }
    @media screen and (min-width:768px){
    height: 28px;
    padding-left: 30px;
    border-radius: 8px;
    }
      @media screen and (min-width:1440px){
    height: 38px;
    padding-left: 40px;
    border-radius: 10px;
    width: 216px;
    }
    }

.main-content_icon{
    @media screen and (min-width:480px){
     &::before{
        content: "";
        background-image: url("../images/search.svg");
        width: 14px;
        height: 14px;
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 8px;
          
        }
        }
    @media screen and (min-width:768px){
        &::before{
        content: "";
        background-image: url("../images/search.svg");
        width: 14px;
        height: 14px;
        display: inline-block;
        position: absolute;
        top: 22px;
        left: 8px;
    
}
        }
    @media screen and (min-width:1440px){
        &::before{
        content: "";
        background-image: url("../images/search.svg");
        width: 24px;
        height: 24px;
        display: inline-block;
        position: absolute;
        top: 22px;
        left: 8px;
}
}
}