.main {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;

    @media screen and (min-width:480px){
        width: 480px;
    }
    @media screen and (min-width:768px){
        width: 768px;
    }
      @media screen and (min-width:1440px){
        width: 1440px;
    }
}

.main-title {
    padding-top: 41px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 36px;

    @media screen and (min-width:480px){
        font-size: 18px;
        font-weight: 200;
        }

    @media screen and (min-width:768px){    
        font-size: 20px;
        font-weight: 300;
        }
  @media screen and (min-width:1440px){
        font-size: 24px;
        font-weight: 500;
    
        }
}