body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFBFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul{
    list-style: none;
    padding: 0;
  }

  body,
h1,
h2,
h3,
p,
ul,
li{
margin: 0;
}
  
  .main {
    display: flex;
    flex-direction: row-reverse;
    /* width: 1440px; */
    margin: 0 auto;

    @media screen and (min-width:480px){
        width: 480px;
    }
    @media screen and (min-width:768px){
        width: 768px;
    }
      @media screen and (min-width:1440px){
        width: 1440px;
    }
}



.main-title {
padding-top: 41px;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}


.main-content {
 background-color: #fff;
 /* width: 880px; */
 height: 812px;
 border-radius: 30px;
 /* padding: 30px 44px 40px 38px; */
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  margin-top: 46px;

   @media screen and (min-width:480px){
        width: 280px;
        padding: 15px 10px 20px 18px;
    }
    @media screen and (min-width:768px){
        width: 368px;
        padding: 30px 24px 30px 28px;
    }
      @media screen and (min-width:1440px){
        width: 880px;
        padding: 30px 44px 40px 38px;
    }
 
}

.main-content_head {
    display: flex;
    justify-content: space-between;
    
}

.main-content_title {
   color: #000000;
   /* font-size: 22px; 
   font-style: SemiBold; */

   @media screen and (min-width:480px){
    font-size: 15px;
    font-weight: 80px; 
   /* font-style: SemiBold; */
}
@media screen and (min-width:768px){
    font-size: 18px; 
   font-style: SemiBold;
}
  @media screen and (min-width:1440px){
    font-size: 22px; 
    font-style: SemiBold;
}
}

.main-content_active {
   color: #16C098;
   /* font-size: 14px; */
   padding-top: 7px;

   @media screen and (min-width:480px){
    font-size: 8px; 
   
}
@media screen and (min-width:768px){
    font-size: 10px; 
   
}
  @media screen and (min-width:1440px){
    font-size: 14px; 

}
}

.main-content_search {
    position: relative;
    padding-right: 10px;
    padding-top: 14px;
}

.main-content_input{
    /* height: 38px; */
    border: none;
    background-color:  rgba(249, 251, 255, 1);
    /* border-radius: 10px; */
    /* padding-left: 40px; */

    @media screen and (min-width:480px){
        width: 100px;
    height: 22px;
    padding-left: 25px;
    border-radius: 7px;
    }
    @media screen and (min-width:768px){
    height: 28px;
    padding-left: 20px;
    border-radius: 8px;
    }
      @media screen and (min-width:1440px){
    height: 38px;
    padding-left: 40px;
    border-radius: 10px;
    }
    }



.main-content_icon{
    @media screen and (min-width:480px){
        /* width: 14px;
        height: 14px; */
        /* top: 10px;
        left: 3px; */
        &::before{
            content: "";
            background-image: url("../images/search.svg");
            width: 14px;
            height: 14px;
            display: inline-block;
            position: absolute;
            top: 20px;
            left: 8px;
          
        }
        }
        @media screen and (min-width:768px){
            /* width: 24px;
            height: 24px;
            top: 22px;
            left: 8px; */
            &::before{
                content: "";
                background-image: url("../images/search.svg");
                width: 14px;
                height: 14px;
                display: inline-block;
                position: absolute;
                top: 22px;
                left: 8px;
              
            }
        }
          @media screen and (min-width:1440px){
            /* width: 24px;
            height: 24px;
            top: 22px;
            left: 8px; */
            &::before{
                content: "";
                background-image: url("../images/search.svg");
                width: 14px;
                height: 14px;
                display: inline-block;
                position: absolute;
                top: 22px;
                left: 8px;
              
            }
        }
    
    
}


.main-content_table {
    vertical-align: top;
    width: 100%;
    /* padding-top: 40px; */
  
    @media screen and (min-width:480px){
        padding-top: 20px;
            }
            @media screen and (min-width:768px){
                padding-top: 30px;
            }
              @media screen and (min-width:1440px){
                padding-top: 40px;
           
            }
}


.main-content_table-head_title {
    border-bottom: solid 1px #EEEEEE;
}

th, td {
/* padding: 20px 0; */
border-bottom: solid 1px #EEEEEE;
/* font-size: 14px;
font-weight: 500; */
line-height: 21px;
letter-spacing: -0.01em;
text-align: left; 

@media screen and (min-width:480px){
padding: 5px 0;
font-size: 5px;
font-weight: 100;
    }
    @media screen and (min-width:768px){
padding: 10px 0;
font-size: 7px;
font-weight: 200;
    }
      @media screen and (min-width:1440px){
padding: 20px 0;
font-size: 14px;
font-weight: 500;
   
    }
  }


.main-content_table-head {
    color: rgba(181, 183, 192, 1);
    /* font-size: 14px;
    font-weight: 500; */
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    @media screen and (min-width:480px){
        
        font-size: 5px;
        font-weight: 100;
            }
            @media screen and (min-width:768px){
      
        font-size: 7px;
        font-weight: 200;
            }
              @media screen and (min-width:1440px){
       
        font-size: 14px;
        font-weight: 500;
           
            }
    }


.main-list_activ-btn {
/* width: 80px;
height: 29px; */
/* padding: 4px 18px 4px 18px; */
border-radius: 4px;
border: 1px solid rgba(0, 176, 135, 1);
color: rgba(0, 176, 135, 1);
/* font-size: 14px;
font-weight: 500; */
/* line-height: 21px; */
letter-spacing: -0.01em;
text-align: left;
background: 
linear-gradient(0deg, rgba(22, 192, 152, 0.38), rgba(22, 192, 152, 0.38));

        @media screen and (min-width:480px){
            width: 35px;
        height: 15px;
        padding: 0px 5px 0px 5px;
        font-size: 8px;
        font-weight: 250;
        }
        @media screen and (min-width:768px){
            width: 50px;
            height: 20px;
            padding: 0px 10px 0px 10px;
            font-size: 10px;
            font-weight: 300;
        }
          @media screen and (min-width:1440px){
            width: 80px;
            height: 29px;
            padding: 4px 18px 4px 18px;
            font-size: 14px;
            font-weight: 500;
        }
}

.main-list_inactiv-btn{
    /* width: 80px;
    height: 29px;
    padding: 4px 12px 4px 12px; */
    border-radius: 4px;
    border: 1px;
    border: 1px solid rgba(223, 4, 4, 1);
    background: linear-gradient(0deg, #DF0404, #DF0404),
linear-gradient(0deg, #FFC5C5, #FFC5C5);

background: linear-gradient(0deg, rgba(255, 197, 197, 1),
rgba(255, 197, 197, 1));
color:rgba(223, 4, 4, 1);

@media screen and (min-width:480px){
    width: 35px;
height: 15px;
padding: 0px 3px 0px 3px;
font-size: 8px;
font-weight: 250;
}
@media screen and (min-width:768px){
    width: 50px;
    height: 20px;
    padding: 0px 8px 0px 8px;
    font-size: 10px;
    font-weight: 300;
}
  @media screen and (min-width:1440px){
    width: 80px;
    height: 29px;
    padding: 4px 12px 4px 12px;
    font-size: 14px;
    font-weight: 500;
}    
}
.main-content_pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.main-content_group{
    /* width: 271px; */
    height: 24px;
  
}
.aside {
   
/* width: 306px; */
height: 1198px;
background: rgba(255, 255, 255, 1);
/* margin-right: 71px;
padding-top: 36px;
padding-left: 28px; */

  @media screen and (min-width:480px){
        width: 120px;
         margin-right: 10px;
         padding-top: 26px;
       padding-left: 8px;
        
    }
    @media screen and (min-width:768px){
        width: 448px;
       margin-right: 21px;
       padding-top: 26px;
       padding-left: 18px;
        
    }
      @media screen and (min-width:1440px){
        width: 306px;
        margin-right: 71px;
       padding-top: 36px;
       padding-left: 28px;
    }
}

.aside-title {
   
/* font-size: 26px;
font-weight: 600;
line-height: 39px; */
letter-spacing: 0.01em;
text-align: left;
align-items: center;
position: relative;
/* padding-left: 45px; */

 @media screen and (min-width:480px){
       font-size: 13px;
font-weight: 300;
line-height: 19px;
/* letter-spacing: 0.01em;
text-align: left;
align-items: center;
position: relative; */
padding-left: 20px;
&::before {
     content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../images/logo.svg");
    position: absolute;
    left: 1px;
}
}
        
    
    @media screen and (min-width:768px){
       font-size: 16px;
font-weight: 400;
line-height: 39px;
/* letter-spacing: 0.01em;
text-align: left;
align-items: center;
position: relative; */
padding-left: 35px;
&::before {
    content: "";
   display: inline-block;
   width: 27px;
   height: 27px;
   background-image: url("../images/logo.svg");
   position: absolute;
   left: 1px;
}
    }
      @media screen and (min-width:1440px){
       font-size: 26px;
font-weight: 600;
line-height: 39px;
/* letter-spacing: 0.01em;
text-align: left;
align-items: center;
position: relative; */
padding-left: 45px;
&::before {
    content: "";
   display: inline-block;
   width: 37px;
   height: 37px;
   background-image: url("../images/logo.svg");
   position: absolute;
   left: 1px;
}
    }
}
/* .aside-title::before {
    content: "";
    display: inline-block;
    width: 37px;
    height: 37px;
    background-image: url("../images/logo.svg");
    position: absolute;
    left: 1px;
} */

.aside-title_text {
width: 18px;
height: 15px;
font-size: 10px;
font-weight: 500;
line-height: 15px;
letter-spacing: -0.01em;
text-align: left;
color: rgba(131, 131, 131, 1);


}

.aside-list-container {

    padding-top: 64px;
}

.aside-list {
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: -0.01em;
text-align: left;
color: rgba(145, 151, 179, 1);

}
.item {
    /* width: 201px; */
    height: 33px;
    padding-left: 49px;
    padding-top: 13px;
    position: relative;
}


.aside-title_item-dashboard::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/dashboard.svg");
    background-repeat: no-repeat;
    padding-left: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.aside-title_item-product::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/product.svg");
    background-repeat: no-repeat;
    padding-left: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.aside-title_item-product::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/chevron-right.svg");
    background-repeat: no-repeat;
   margin-left: 123px;
}
.aside-title_item-customers{
    background-color: rgba(89, 50, 234, 1);
    border-radius: 8px;
    color: #FFFFFF;
    position: relative;
}
.aside-title_item-customers::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/user.svg");
    background-repeat: no-repeat;
    padding-left: 11px;
    fill:#9197B3;
    position: absolute;
    top: 10px;
    left: 10px;
}

.aside-title_item-customers::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/chevron-right.svg");
    background-repeat: no-repeat;
   margin-left: 100px;
   color: #FFFFFF;
}


.aside-title_item-income::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/income.svg");
    background-repeat: no-repeat;
    padding-left: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.aside-title_item-income::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/chevron-right.svg");
    background-repeat: no-repeat;
    margin-left: 124px;
}

.aside-title_item-promote::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/promote.svg");
    background-repeat: no-repeat;
    padding-left: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.aside-title_item-promote::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/chevron-right.svg");
    background-repeat: no-repeat;
   margin-left: 117px;
}

.aside-title_item-help::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/help.svg");
    background-repeat: no-repeat;
    padding-left: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.aside-title_item-help::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/chevron-right.svg");
    background-repeat: no-repeat;
   margin-left: 145px;
}
.aside-user {
    /* margin-top: 599px; */
    display: flex;
}

.aside-user_img {
    width: 42px;
    height: 42px;
}

.aside-user-info {
    padding-left: 12px;
}

.aside-user-info_title {
    
font-size: 14px;
line-height: 21px;
letter-spacing: 0.01em;
text-align: left;
color:  rgba(0, 0, 0, 1);

}
 