@import url('./main-content.css');
@import url('./main-content_search.css');
@import url('./table.css');
@import url('./table-btn.css');
@import url('./main-content_pages.css');
@import url('./aside.css');
@import url('./aside-list-container.css');
@import url('./aside-item.css');
@import url('./aside-item-dashboard.css');
@import url('./aside-item-product.css');
@import url('./aside-item-customers.css');
@import url('./aside-item-income.css');
@import url('./aside-item-promote.css');
@import url('./aside-item-help.css');
@import url('./aside-user.css');
@import url('./main.css');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFBFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul{
    list-style: none;
    padding: 0;
  }

  body,
h1,
h2,
h3,
p,
ul,
li{
margin: 0;
}
  




 